  * {
  outline: none;
}
html {
  font: normal 10px/1.5 sans-serif;
}
body,
html {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
body {
  font: normal 10px/1.5 sans-serif;
  color: #333;
  background: #FFFFFF;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: none;
  -moz-user-select: none;
}
em,
footer,
h1,
h2,
h3,
h4,
h5,
input,
li,
mark,
nav,
ol,
p,
section,
span,
textarea,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  list-style: none;
  font-style: normal;
}
input,
textarea {
  border: none;
  outline: none;
  color: #333333;
}
a {
  text-decoration: none;
}
select {
  outline: none;
  border-width: 1px;
  border-radius: 3px;
  padding: 2px 5px;
  border-color: #ccc;
}
button,
input,
select,
textarea {
  font-family: sans-serif;
}
input[type="password"],
input[type="text"] {
  -webkit-appearance: none;
}
a.btn,
button {
  border: 0 none;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  line-height: 32px;
  margin: 0;
  text-align: center;
  padding: 0;
}
button:disabled {
  background: #c0c0bf;
  color: #fff;
}
a.btn {
  display: inline-block;
}
.pull-l {
  float: left;
}
.pull-r {
  float: right;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
img {
  width: 100%;
  border: none;
  vertical-align: bottom;
}
.btn-default {
  background-color: #40403f;
}
.btn-primary {
  background-color: #ff7162;
}
.btn-info {
  background-color: #ff6251;
}
.btn-reserve {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-radius: 0;
  background-color: rgba(255,113,98,.9);
  font-size: 1.6rem;
  line-height: 50px;
  padding: 0;
}
/* login regist find pwd */
.input-item {
  height: 36px;
  line-height: 36px;
  border-bottom: 1px solid #eaeaea;
  margin-top: 25px;
}
.input-item > input {
  height: 36px;
  line-height: 36px;
  width: 100%;
  padding: 0 30px;
  font-size: 1.6rem;
  box-sizing: border-box;
}
.user-phone {
  background-image: url("/img/username.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 18px auto;
}
.user-pwd {
  background-image: url("/img/userpwd.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 16px auto;
}
.user-code {
  background-image: url("/img/user-code.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 14px auto;
}
.input-code {
  position: relative;
}
.input-code > input {
  padding-right: 30%;
}
.input-code .btn-code {
  position: absolute;
  top: 6px;
  right: 0;
  padding: 0 10px;
  min-width: 80px;
}
.btn-code {
  background-color: #ff6251;
  border-radius: 12px;
  height: 24px;
  line-height: 24px;
  font-size: 1.2rem;
}
.btn-confirm {
  background-color: #ff6251;
  border-radius: 3px;
  display: block;
  width: 60%;
  margin: 40px auto;
  height: 42px;
  line-height: 42px;
  font-size: 1.6rem;
}
.item-transition {
  transition: opacity .5s ease;
}
.item-enter {
  opacity: 0;
}
.item-leave {
  opacity: 0;
  position: absolute;
}
.item-move {
  transition: transform .5s cubic-bezier(.55,0,.1,1);
}

  .hair-item {
    position: relative;
    display: inline-block;
    width: 50%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
  }
  .hair-item:nth-child(even) {
    border-left: 1px solid #fff;

  }
  .hair-item:nth-child(odd) {
    border-right: 1px solid #fff;
  }
  .hair-item>a {
    display: block;
    position: relative;
    overflow: hidden;
  }
  .hair-item .lazy-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .hair-name {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 24px;
    line-height: 24px;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    font-size: 1.3rem;
    padding-left: 4px;
  }
  .hair-like {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: transparent;
    height: 24px;
    line-height: 24px;
    background-image: url(../img/good-white.png);
    background-repeat: no-repeat;
    background-size: 10px auto;
    background-position: 7px center;
    padding: 0 7px 0 20px;
    font-size: 1.2rem;
    border-radius: 2px
  }