header {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  border-bottom: 1px solid #f5f5f5;
  background: #333;
  a {
    font-size: 1.4rem;
    color: #333;
    display: inline-block;
    margin-left: 10px;
  }
  .site-nav {
    display: inline-flex;
    height: 100%;
    line-height: initial;
    align-items: center;
    .current-title {
      color: #fff;
      font-size: 1.4rem;
    }
  }
  button {
    background: #333;
    padding: 9px;
  }
  .btn-bar {
    display: block;
    width: 22px;
    height: 2px;
    background: #fff;
    border-radius: 1px;
  }
  .btn-bar+.btn-bar {
    margin-top: 4px;
  }
  .side-nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    background: #fff;
    z-index: 2;
    transition: transform .3s ease-out;
    will-change: transform;
    transform: translateX(0%);
    display: none;
    &>div {
      width: 256px;
      font-weight: 300;
    }
    .user-view {
      background: #03a9f4;
      color: #fff;
      font-size: 1.5rem;
      padding: 16px;
    }
    .side-nav-list {
      padding: 16px;
      &>a {
        display: block;
        color: rgba(0,0,0,0.87);
        font-size: 1.4rem;
        font-weight: 500;
        height: 48px;
        line-height: 48px;
      }
    }
  }
}
