header {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  border-bottom: 1px solid #f5f5f5;
  background: #333;
  a {
    font-size: 1.4rem;
    color: #333;
    display: inline-block;
    margin-left: 10px;
  }
  .site-nav {
    display: inline-flex;
    height: 100%;
    line-height: initial;
    align-items: center;
    .current-title {
      color: #fff;
      font-size: 1.4rem;
    }
  }
  button {
    background: #333;
    padding: 9px;
  }
  .btn-bar {
    display: block;
    width: 22px;
    height: 2px;
    background: #fff;
    border-radius: 1px;
  }
  .btn-bar+.btn-bar {
    margin-top: 4px;
  }
}
