.user-header {
  background: #4285f4;
}
.user-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.user-pic img {
  width: 60px;
  border-radius: 50%;
}
.user-name {
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
}
.user-other-info {
  padding: 10px;
  color: #fff;
  font-size: 1.2rem;
}
.user-recent {
  padding: 5px 10px;
  font-size: 1.4rem;
  display: flex;
}
.user-recent .recent-topic {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.user-recent .last-time {
  color: #ff6172;
  font-size: 1.2rem;
}
